.tracker__container {
    display: flex;
    position: fixed;
    gap: 10px;
    padding: 60px;
}

.tracker-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: red;
}