.tracker__container {
  display: flex;
  position: fixed;
  gap: 10px;
  margin: 60px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.tracker__container:hover {
  opacity: 1;
}

.tracker-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
}

.found::after {
  content: "";
  background: url("../../assets/tick.svg") no-repeat center center/cover;
  background-size: contain;
  position: absolute;
  height: 50px;
  width: 50px;
  transform: translateX(15px);
}
