.gameover__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.gameover__form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  gap: 10px;
}

.gameover__form > h1 {
  color: #00a3e3;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 700;
  font-size: 2.2em;
  margin: 0;
}

.gameover__form > input {
  height: 25px;
  border-radius: 5px;
  width: 95%;
  border: 1px solid black;
  padding-inline: 5px;
}

.gameover__form > button {
  background-color: #ee3a33;
  color: white;
  border: 1px solid black;
}
