.leaderboard__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.leaderboard-header {
  color: #ee3a33;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 800;
  font-size: 2.8em;
  margin: 0;
}

.header__container {
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  gap: 10px;
}

.header__container > div {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.wally-leaderboard {
  position: absolute;
  transform: translateY(100px) translateX(-342px);
  z-index: 0;
  transition: all 0.6s ease-in-out;
}

.wally-leaderboard:hover {
  transform: translateX(10px);
}

.leaderboard-difficulty {
  color: #00a3e3;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 700;
  font-size: 2.2em;
}

.leaderboard__wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 500px;
  height: 70%;
  border: black 1px solid;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  z-index: 1;
  background-color: white;
}
